/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body, html {
  /* height: 100%; */
  width: 100%;
}


body {
  /* General style rules for the body section */
  /* background-color: #f25c00; */
  background-image: linear-gradient(red, blue, yellow);
  color: #7cdcff;
  text-align: center;
}

#head {
  /* Matches element with id=SimpleDiv */
  /* color: gray; */
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;

}

#color_dudes {
  float: left;
}

#div_dart {
  background-color: darkgray;
  clear: both;
  margin: 5%;
  padding: 5%;
}

#div_dartboard {
	float: right;
}

#div4 {
  background-color: #06109b;
  margin: 5%;
  padding: 6px;
  clear: both;
}
